<!DOCTYPE html>
<html lang="{{ .Lang }}">
{{ partial "head.html" . }}

<body id="page-top" class="index">
{{ partial "nav-for-other-page.html" . }}
{{ "<!-- terms and conditions Grid Section -->" | safeHTML }}
<section id="{{ .Params.url }}" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">{{ .Title }}</h2>
            </div>
        </div>
        {{ .Content }}
        {{ partial "order-id.html" . }}
        <div class="row">
            <div id="bill" class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">Thông tin người mua</div>
                    <div class="panel-body">
                        <p data-bind="text: name"></p>
                        <p data-bind="text: phone1"></p>
                        <p data-bind="text: phone2"></p>
                        <p data-bind="text: email"></p>
                        <p><span data-bind="text: address"></span>, <span data-bind="text: province"></span> </p>
                    </div>
                </div>
                {{ partial "selected-product-list.html" . }}
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <div class="col-xs-4">
                    <button id="edit" name="save" class="btn btn-lg btn-default">Sửa đơn hàng</button>
                </div>
                <div class="col-xs-4 text-center">
                    <button id="cancel" name="cancel" class="btn btn-lg btn-danger" onclick="window.location = '/';">Hủy đặt hàng</button>
                </div>
                <div class="col-xs-4 text-right">
                    <button id="save" name="save" class="btn btn-lg btn-success" data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Đang nhập đơn hàng">Hoàn tất</button>
                </div>
            </div>
        </div>
    </div>
</section>
{{ if .Site.Params.params.footer.enable }}
{{ partial "footer.html" . }}
{{ end }}
{{ partial "js_other_page.html" . }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.4.2/knockout-min.js"></script>
<script src="https://www.gstatic.com/firebasejs/4.1.1/firebase.js"></script>
<script>
    $(function () {
        // Initialize Firebase
        var config = {
            apiKey: "AIzaSyABGxfllsBj-8tfsAH7t1qqcZvxZHRP25M",
            authDomain: "dalafarm-bill.firebaseapp.com",
            databaseURL: "https://dalafarm-bill.firebaseio.com",
            projectId: "dalafarm-bill",
            storageBucket: "dalafarm-bill.appspot.com",
            messagingSenderId: "723108104918"
        };
        firebase.initializeApp(config);
        firebase.auth().onAuthStateChanged(function(user) {
            if (user) {
                console.log("User already logged in");
            } else {
                console.log("User has not logged in");
            }
        });


        var bill = JSON.parse(sessionStorage.getItem('order'));
        //using array for displaying purpose. Let's see if array or object works better to be the data model in db
        function getProductsArrayFromBill(b) {
            var products = b.products;
            var productArr = $.map(products, function (val, key) {
                if(key.substr(key.length - 3, key.length) == "Amt"){
                    return {name: key, amount: val};
                }
            });
            productArr.forEach(function (p) {
                var key = p.name.substr(0, p.name.length - 3);
                p.price = products[key + "Price"];
                p.subtotal = p.amount * p.price;
            });
            return productArr;
        }

        function calculateTotalBill(bill) {
            var products = getProductsArrayFromBill(bill);
            var subtotal = 0;
            for (var i = 0; i < products.length; i++) {
                subtotal += products[i].subtotal;
            }
            return subtotal + calculateShippingCost(bill);
        }
        function AppViewModel() {
            this.id = bill.id;
            this.date = new Date(bill.meta.date);
            this.name = bill.info.name;
            this.phone1 = bill.info.phone1;
            this.phone2 = bill.info.phone2;
            this.email = bill.info.email;
            this.address = bill.info.address;
            this.province = bill.info.province;
            this.products = getProductsArrayFromBill(bill);
            this.subtotal = calculateTotalBill(bill);
            this.shippingCost = calculateShippingCost(bill);
        }

        // Activates knockout.js
        ko.applyBindings(new AppViewModel());

        function calculateShippingCost(bill) {
            var province = bill.info.province;
            var shippingCost = 0;
            var weight = calculateWeight(bill);
            console.log("Weight is " + weight);
            if( province === "TP HCM") {
                if(weight < 200){
                    shippingCost = 25000;
                }
            } else {
                if(weight < 300) {
                    if (groupA(province)) {
                        weight <= 300 ? shippingCost = 30000 : (weight <= 500 ? shippingCost = 40000 : (weight <= 1000 ? shippingCost = 50000 : (weight <= 1500 ? shippingCost = 65000 : (weight <= 2000 ? shippingCost = 75000 : shippingCost = addShippingCostAtExceedPrice(weight, 75000)))));
                    } else if (groupB(province)) {
                        weight <= 300 ? shippingCost = 35000 : (weight <= 500 ? shippingCost = 45000 : (weight <= 1000 ? shippingCost = 55000 : (weight <= 1500 ? shippingCost = 70000 : (weight <= 2000 ? shippingCost = 80000 : shippingCost = addShippingCostAtExceedPrice(weight, 80000)))));
                    } else if (groupC(province)) {
                        weight <= 300 ? shippingCost = 35000 : (weight <= 500 ? shippingCost = 45000 : (weight <= 1000 ? shippingCost = 55000 : (weight <= 1500 ? shippingCost = 70000 : (weight <= 2000 ? shippingCost = 80000 : shippingCost = addShippingCostAtExceedPrice(weight, 80000)))));
                    } else if (groupD(province)) {
                        weight <= 300 ? shippingCost = 35000 : (weight <= 500 ? shippingCost = 45000 : (weight <= 1000 ? shippingCost = 60000 : (weight <= 1500 ? shippingCost = 75000 : (weight <= 2000 ? shippingCost = 85000 : shippingCost = addShippingCostAtExceedPrice(weight, 85000)))));
                    } else if (groupE(province)) {
                        weight <= 300 ? shippingCost = 35000 : (weight <= 500 ? shippingCost = 45000 : (weight <= 1000 ? shippingCost = 60000 : (weight <= 1500 ? shippingCost = 75000 : (weight <= 2000 ? shippingCost = 85000 : shippingCost = addShippingCostAtExceedPrice(weight, 85000)))));
                    } else {
                        weight <= 300 ? shippingCost = 40000 : (weight <= 500 ? shippingCost = 50000 : (weight <= 1000 ? shippingCost = 65000 : (weight <= 1500 ? shippingCost = 80000 : (weight <= 2000 ? shippingCost = 85000 : shippingCost = addShippingCostAtExceedPrice(weight, 85000)))));
                    }
                }
            }
            return shippingCost;

            function groupA(province) {
                return province === "Bình Dương" || province === "Đồng Nai" || province === "Tây Ninh" || province === "Bà Rịa - Vũng Tàu";
            }

            function groupB(province) {
                return province === "Bình Phước" || province === "Gia Lai" || province === "Đắk Lắk" || province === "Đắk Nông" || province === "Kon Tum" || province === "Lâm Đồng";
            }

            function groupC(province) {
                return province === "Cần Thơ" || province === "An Giang"
                    || province === "Bạc Liêu" || province === "Bến Tre"
                    || province === "Cà Mau" || province === "Đồng Tháp"
                    || province === "Kiên Giang" || province === "Hậu Giang"
                    || province === "Long An" || province === "Sóc Trăng"
                    || province === "Trà Vinh" || province === "Tiền Giang"
                    || province === "Vĩnh Long";
            }

            function groupD(province) {
                return province === "Hà Nội" || province === "Bắc Ninh" || province === "Vĩnh Phúc" || province === "Hải Phòng" || province === "Phú Thọ";
            }

            function groupE(province) {
                return province === "Đà Nẵng" || province === "Quảng Nam"
                    || province === "Bình Định" || province === "Quảng Ngãi"
                    || province === "Phú Yên" || province === "Khánh Hòa"
                    || province === "Bình Thuận" || province === "Ninh Thuận"
                    || province === "Nghệ An" || province === "Thanh Hóa"
                    || province === "Quảng Bình" || province === "Hà Tĩnh"
                    || province === "Quảng Trị" || province === "Thừa Thiên Huế";
            }

            function addShippingCostAtExceedPrice(weightInGram, lowerTierShippingCost){
                if(weightInGram > 2000) {
                    var exceedWeight = weightInGram - 2000;
                    var nextTierPriceAddition = 10000;
                    var shippingCost = lowerTierShippingCost + (Math.ceil(exceedWeight / 500) * nextTierPriceAddition);
                    return shippingCost;
                }
                return lowerTierShippingCost;
            }

            function calculateWeight(bill){
                var weight = 0;
                var products = bill.products;
                for (var property in products) {
                    if (products.hasOwnProperty(property)) {
                        if (property.substr(property.length - 3, property.length) == "Amt" && products[property] > 0) {
                            weight += 50 * products[property];
                            if(property.indexOf("100") > 0){
                                weight += 50 * products[property];
                            }
                        }
                    }
                }
                return weight;
            }
        }

        $('#save').on('click', function (e) {
            e.preventDefault();
            $('#save').button('loading');
            saveToDb(bill);
        });
        $('#edit').on('click', function (e) {
            e.preventDefault();
            window.location = "/order";
        });
        function saveToDb(bill) {
            bill.status = "Ordered";
            bill.shippingCost = calculateShippingCost(bill);
            bill.subtotal = calculateTotalBill(bill);
            bill.products = getProductsArrayFromBill(bill);
            var dbRef = firebase.database().ref('bills/');
            var newPostRef = dbRef.push();
            newPostRef.set(bill).then(function(response){
                console.log("Data saved successfully!" + response);
                sendToEmailWebhook(bill);
                sendToSmsWebhook(bill);
                sendFullDetailsToWebhook4SlackNExcel(bill);
            }).error(function (error) {
                console.log(error);
                order.error = error;
                localStorage.setItem('order-' + order.id, JSON.stringify(order));
                window.location = "/order-error";
            });
        }

        function sendFullDetailsToWebhook4SlackNExcel(order) {
            var webhookURL = "https://hooks.zapier.com/hooks/catch/2274589/9cmzdm/";
            $.ajax({
                type: "POST",
                url: webhookURL,
                data: removeEmptyProductNHumanizeName(order),
                success: function(res) {
                    console.log(res);
                },
                error: function (error) {
                    console.log(error);
                },
                dataType: "json"
            });
        }
        function sendToSmsWebhook(order) {
            var webhookURL = "https://hooks.zapier.com/hooks/catch/2274589/9eneca/";
            var payload = {"to":"", "from":"32523276", "content":"", "orderId": "" };
            var smsBody = "DalaFarm - don hang ma " + order.id + ". Tong so tien: " + order.subtotal;
            payload.to = "+84" + order.info.phone1;
            payload.orderId = order.id;
            payload.content = smsBody;
            $.ajax({
                type: "POST",
                url: webhookURL,
                data: payload,
                success: function(res) {
                    console.log(res);
                },
                error: function (error) {
                    console.log(error);
                },
                dataType: "json"
            });
        }
        function sendToEmailWebhook(order){
            var webhookURL = "https://hooks.zapier.com/hooks/catch/2274589/98r7zl/";
            var payload = {"to":"", "from":"info@dalafarm.com.vn", "content":"", "orderId": "" };
            var htmlBody = prepareBody(order);
            payload.to = order.info.email;
            payload.orderId = order.id;
            payload.content = htmlBody;
            $.ajax({
                type: "POST",
                url: webhookURL,
                data: payload,
                success: function(res){
                    console.log(res);
                    localStorage.setItem('order-' + order.id, JSON.stringify(order));
                    sessionStorage.removeItem('order');
                    window.location = "/thank-you";},
                error: function (error) {
                    console.log(error);
                    order.error = error;
                    localStorage.setItem('order-' + order.id, JSON.stringify(order));
                    window.location = "/order-error";
                },
                dataType: "json"
            });
        }

        function prepareBody(order){
            var head = "<!DOCTYPE html> <head> <meta charset=\"utf-8\"> <meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge\"> <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\"> </head> <p>DalaFarm xin cám ơn bạn đã đặt hàng.</p> <p>Bên dưới là nội dung đơn hàng của bạn</p> <p>Mã đơn hàng:" + order.id;
            var middle = "</p> <table> <thead> <tr> <th>Tên</th> <th>Số lượng</th> <th>Đơn giá</th> <th>Thành tiền</th> </tr> </thead> <tbody>";
            var orderContent = buildOrderContent(order.products);
            var shipping = "</tbody> </table> <p>Phí giao hàng:" + order.shippingCost + "</p>";
            var total = "<p>Tổng tiền: " + order.subtotal + "</p>";
            var footer = "<p>Xin cám ơn bạn đã ủng hộ DalaFarm.</p>  <p>Nếu có vấn đề hay câu hỏi gì, xin vui lòng liên hệ fanpage: <a href=\"https://fb.me/dalafarm.com.vn\">Facebook DalaFarm</a> hoặc website <a href=\"https://dalafarm.com.vn\">DalaFarm</a></p>";
            return head + middle + orderContent + shipping + total + footer;
        }

        function buildOrderContent(products){
            var orderContent = "";
            products.forEach(function (p) {
                if(p.amount > 0) {
                    orderContent += "<tr><td>" + humanizeProductName(p.name) + "</td><td>" + p.amount + "</td><td>" + p.price + "</td><td>" + p.subtotal + "</td></tr>";
                }
            });
            return orderContent;
        }

        function removeEmptyProductNHumanizeName(orderWProductArr) {
            var fullProducts = orderWProductArr.products;
            orderWProductArr.products = fullProducts.filter(function (p) {
                if(p.amount > 0) {
                    p.name = humanizeProductName(p.name);
                    return p;
                }
            });
            return orderWProductArr;
        }

        function humanizeProductName(productKey) {
            if(productKey) {
                switch (productKey){
                    case "carrotAmt": return "Bột cà rốt 50g";
                    case "beetrootAmt": return "Bột củ dền 50g";
                    case "broccoliAmt": return "Bột súp lơ xanh 50g";
                    case "cocoa100Amt": return "Bột ca cao 100g";
                    case "heartleaf100Amt": return "Bột rau diếp cá 100g";
                    case "heartleafAmt": return "Bột rau diếp cá 50g";
                    case "matcha100Amt": return "Bột trà xanh 100g";
                    case "matchaAmt": return "Bột trà xanh 50g";
                    case "moringaAmt": return "Bột chùm ngây 50g";
                    case "pennywortAmt": return "Bột rau má 50g";
                    case "pennywort100Amt": return "Bột rau má 100g";
                    case "pumpkinAmt": return "Bột bí đỏ 50g";
                    case "tomatoAmt": return "Bột cà chua 50g";
                    case "lotusAmt": return "Bột hạt sen 50g";
                    case "purpleswpotatoAmt": return "Bột khoai lang tím 50g";
                    case "spinachAmt": return "Bột rau bó xôi 50g";
                    case "mushroomAmt": return "Bột nấm 50g";
                    default: return productKey;
                }


            }
        }

    });

</script>
</body>
</html>