<!DOCTYPE html>
<html lang="{{ .Lang }}">
{{ partial "head.html" . }}

<body id="page-top" class="index">
{{ partial "nav-for-other-page.html" . }}
{{ "<!-- terms and conditions Grid Section -->" | safeHTML }}
<section id="{{ .Params.url }}" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">{{ .Title }}</h2>
            </div>
        </div>
        <div class="row alert alert-info">
            <p class="order-page-content">
                {{ .Content }}
            </p>
        </div>
            {{ partial "order-id.html" . }}
            <div class="row" id="order-content">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">Thông tin người mua</div>
                        <div class="panel-body">
                            <p data-bind="text: name"></p>
                            <p data-bind="text: phone1"></p>
                            <p data-bind="text: phone2"></p>
                            <p data-bind="text: email"></p>
                            <p><span data-bind="text: address"></span>, <span data-bind="text: province"></span></p>
                            <p>Hình thức thanh toán: <span data-bind="text: paymentType"></span></p>
                            <p data-bind="text: additionalNote" style="font-style: italic;" ></p>
                        </div>
                    </div>
                    {{ partial "selected-product-list.html" . }}
                </div>
            </div>
        <div class="row">
            <div class="form-group">
                <div class="col-xs-4">
                    <button id="edit" name="save" class="btn btn-lg btn-default">Sửa đơn hàng</button>
                </div>
                <div class="col-xs-4 text-center">
                    <button id="cancel" name="cancel" class="btn btn-lg btn-danger" onclick="window.location = '/';">Hủy
                        đặt hàng
                    </button>
                </div>
                <div class="col-xs-4 text-right">
                    <button id="save" name="save" class="btn btn-lg btn-success"
                            data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Đang nhập đơn hàng">Hoàn tất
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>
{{ if .Site.Params.params.footer.enable }}
{{ partial "footer.html" . }}
{{ end }}
{{ partial "js_order_page.html" . }}
<script>
    $(function () {
        // Initialize Firebase
        var config = {
            apiKey: "AIzaSyABGxfllsBj-8tfsAH7t1qqcZvxZHRP25M",
            authDomain: "dalafarm-bill.firebaseapp.com",
            databaseURL: "https://dalafarm-bill.firebaseio.com",
            projectId: "dalafarm-bill",
            storageBucket: "dalafarm-bill.appspot.com",
            messagingSenderId: "723108104918"
        };
        firebase.initializeApp(config);
        firebase.auth().onAuthStateChanged(function (user) {
            if (user) {
                console.log("User already logged in");
            } else {
                console.log("User has not logged in");
            }
        });


        var bill = applyPromotion(JSON.parse(sessionStorage.getItem('order')));

        function AppViewModel() {
            this.id = bill.id;
            this.date = new Date(bill.meta.date);
            this.name = bill.info.name;
            this.phone1 = bill.info.phone1;
            this.phone2 = bill.info.phone2;
            this.email = bill.info.email;
            this.address = bill.info.address;
            this.province = bill.info.province;
            this.products = getProductsArrayFromBill(bill);
            this.subtotal = calculateTotalBill(bill);
            this.shippingCost = calculateShippingCost(bill);
            this.paymentType = humanizePaymentType(bill.info.paymentType);
            this.additionalNote = bill.info.additionalNote;
            this.discountPercent = bill.discountPercent;
        }

        // Activates knockout.js
        ko.applyBindings(new AppViewModel());

        $('#save').on('click', function (e) {
            e.preventDefault();
            $('#save').button('loading');
            saveToDb(bill);
        });
        $('#edit').on('click', function (e) {
            e.preventDefault();
            window.location = "/order";
        });
        function saveToDb(bill) {
            bill.status = "Ordered";
            bill.shippingCost = calculateShippingCost(bill);
            bill.subtotal = calculateTotalBill(bill);
            bill.products = getProductsArrayFromBill(bill);
            var dbRef = firebase.database().ref('bills/');
            var newPostRef = dbRef.push();
            newPostRef.set(bill).then(function (response) {
                console.log("Data saved successfully!" + response);
                sendToSmsWebhook(bill);
//                sendToSmsEndpointOfEsms(bill);
                sendFullDetailsToWebhook4Excel(bill);
                sendFullDetailsToWebhook4Slack(bill);
                sendToEmailWebhook(bill);
            }, function (error) {
                console.log(error);
                order.error = error;
                localStorage.setItem('order-' + order.id, JSON.stringify(order));
                window.location = "/order-error";
            });
        }

        function sendFullDetailsToWebhook4Slack(order) {
            var webhookURL = "https://hooks.zapier.com/hooks/catch/2274589/9cmzdm/";
            var payload = {
                "to": "",
                "name": "",
                "address": "",
                "phone": "",
                "content": "",
                "orderId": ""
            };
            var slackMessageBody = prepareSlackMessageBody(order);
            payload.to = order.info.email;
            payload.orderId = order.id;
            payload.name = order.info.name;
            payload.address = order.info.address + ", " + order.info.province;
            payload.phone = order.info.phone1;
            payload.content = slackMessageBody;
            $.ajax({
                type: "POST",
                url: webhookURL,
                data: payload,
                success: function (res) {
                    console.log(res);
                },
                error: function (error) {
                    console.log(error);
                },
                dataType: "json"
            });
        }
        function prepareSlackMessageBody(order) {
            var orderContent = "";
            order.products.forEach(function (p) {
                if (p.amount > 0) {
                    orderContent += "•" + humanizeProductName(p.name) + " - " + p.amount + " x " + p.price + " = " + p.subtotal + "\n";
                }
            });
            orderContent += "Phí giao hàng: " + order.shippingCost + "\n" + "Tổng tiền: " + order.subtotal + "\n" + "Cách thanh toán: " + humanizePaymentType(order.info.paymentType);
            return orderContent;
        }

        function sendFullDetailsToWebhook4Excel(order) {
            var webhookURL = "https://hooks.zapier.com/hooks/catch/2274589/906tv0/";
            $.ajax({
                type: "POST",
                url: webhookURL,
                data: order,
                success: function (res) {
                    console.log(res);
                },
                error: function (error) {
                    console.log(error);
                },
                dataType: "json"
            });
        }

        function getFirstName(name) {
            nameArr = name.split(" ");
            return nameArr && nameArr[nameArr.length - 1];
        }

//        function sendToSmsEndpointOfEsms(order) {
//            var payload = {"to": "", "name": "", "from": "32523276", "subtotal": "", "orderId": ""};
//            payload.to = order.info.phone1;
//            payload.orderId = order.id;
//            var firstName = getFirstName(order.info.name);
//            payload.name = firstName.isLatin() ? firstName : firstName.latinise();
//            payload.subtotal = order.subtotal;
//            var smsContent = payload.name + " oi, DalaFarm da nhan duoc don hang cua ban co ma " +
//                             payload.orderId + " va tong so tien la " +
//                             payload.subtotal + ". Cam on ban da ung ho DalaFarm nhe. Website: goo.gl/XiTjAo";
//            var webhookURL = "http://rest.esms.vn/MainService.svc/json/SendMultipleMessage_V4_get?Phone=" +
//                 payload.to + "&Content=" +
//                 smsContent + "&ApiKey=4F91A21209C93DDD6AB1581045AB6A&SecretKey=728116B5AA871EB9FC87F6CE2E488E&IsUnicode=1&SmsType=4";
//            $.ajax({
//                type: "GET",
//                url: webhookURL,
//                success: function (res) {
//                    console.log(res);
//                },
//                error: function (error) {
//                    console.log(error);
//                }
//            });
//        }
        function sendToSmsWebhook(order) {
            var webhookURL = "https://hooks.zapier.com/hooks/catch/2274589/9eneca/";
            var payload = {"to": "", "name": "", "from": "32523276", "subtotal": "", "orderId": ""};
            payload.to = order.info.phone1;
            payload.orderId = order.id;
            var firstName = getFirstName(order.info.name);
            payload.name = firstName.isLatin() ? firstName : firstName.latinise();
            payload.subtotal = order.subtotal;
            $.ajax({
                type: "POST",
                url: webhookURL,
                data: payload,
                success: function (res) {
                    console.log(res);
                },
                error: function (error) {
                    console.log(error);
                },
                dataType: "json"
            });
        }

        function sendToEmailWebhook(order) {
            var webhookURL = "https://hooks.zapier.com/hooks/catch/2274589/98r7zl/";
            var payload = {
                "to": "",
                "name": "",
                "address": "",
                "phone": "",
                "from": "info@dalafarm.com.vn",
                "content": "",
                "orderId": ""
            };
            var htmlBody = prepareBody(order);
            payload.to = order.info.email;
            payload.orderId = order.id;
            payload.name = order.info.name;
            payload.address = order.info.address + ", " + order.info.province;
            payload.phone = order.info.phone1;
            payload.content = htmlBody;
            $.ajax({
                type: "POST",
                url: webhookURL,
                data: payload,
                success: function (res) {
                    console.log(res);
                    localStorage.setItem('order-' + order.id, JSON.stringify(order));
                    sessionStorage.removeItem('order');
                    window.location = "/thank-you";
                },
                error: function (error) {
                    console.log(error);
                    order.error = error;
                    localStorage.setItem('order-' + order.id, JSON.stringify(order));
                    window.location = "/order-error";
                },
                dataType: "json"
            });
        }

        function prepareBody(order) {
            var head = "";
            var middle = "<table id='content'> <thead> <tr> <th>Tên</th> <th>Số lượng</th> <th>Đơn giá</th> <th>Thành tiền</th> </tr> </thead> <tbody>";
            var orderContent = buildOrderContent(order.products);
            var shipping = "</tbody> </table> <p>Phí giao hàng: <strong>" + order.shippingCost + "</strong></p>";
            var total = "<p>Tổng tiền: <strong>" + order.subtotal + "</strong></p>";
            var paymentType = "<p>Hình thức thanh toán: <strong>" + humanizePaymentType(order.info.paymentType) + "</strong></p>";
            var additionalNote = "<p>Ghi chú: <strong>" + order.info.additionalNote + "</strong></p>";
            var footer = "";
            return head + middle + orderContent + shipping + total + paymentType + additionalNote + footer;
        }

        function buildOrderContent(products) {
            var orderContent = "";
            products.forEach(function (p) {
                if (p.amount > 0) {
                    orderContent += "<tr><td>" + humanizeProductName(p.name) + "</td><td>" + p.amount + "</td><td>" + p.price + "</td><td>" + p.subtotal + "</td></tr>";
                }
            });
            return orderContent;
        }

        function humanizeProductName(productKey) {
            if (productKey) {
                switch (productKey) {
                    case "carrotAmt":
                        return "Bột cà rốt 50g";
                    case "beetrootAmt":
                        return "Bột củ dền 50g";
                    case "broccoliAmt":
                        return "Bột súp lơ xanh 50g";
                    case "cocoa100Amt":
                        return "Bột ca cao 100g";
                    case "heartleaf100Amt":
                        return "Bột rau diếp cá 100g";
                    case "heartleafAmt":
                        return "Bột rau diếp cá 50g";
                    case "matcha100Amt":
                        return "Bột trà xanh 100g";
                    case "matchaAmt":
                        return "Bột trà xanh 50g";
                    case "moringaAmt":
                        return "Bột chùm ngây 50g";
                    case "pennywortAmt":
                        return "Bột rau má 50g";
                    case "pennywort100Amt":
                        return "Bột rau má 100g";
                    case "pumpkinAmt":
                        return "Bột bí đỏ 50g";
                    case "tomatoAmt":
                        return "Bột cà chua 50g";
                    case "lotusAmt":
                        return "Bột hạt sen 50g";
                    case "purpleswpotatoAmt":
                        return "Bột khoai lang tím 50g";
                    case "spinachAmt":
                        return "Bột rau bó xôi 50g";
                    case "mushroomAmt":
                        return "Bột nấm 50g";
                    case "garlicoilAmt":
                        return "Dầu tỏi tía Đà Lạt 250ml";
                    case "dalababyAmt":
                        return "Bột rau củ DalaBaby 70g";
                    case "garlicwineAmt":
                        return "Rượu tỏi đen 750ml";
                    case "garlichoneyAmt":
                        return "Mật ong tỏi đen 50g";
                    case "sundetoxAmt":
                        return "Bột detox đỏ Sun Powder 100g";
                    case "moondetoxAmt":
                        return "Bột detox xanh Moon Powder 100g";
                    default:
                        return productKey;
                }

            }
        }

        function humanizePaymentType(paymentType) {
            if(paymentType){
                switch (paymentType) {
                    case "cod": return "Thanh toán lúc nhận hàng (COD)";
                    case "bank-transfer": return "Chuyển khoản ngân hàng";
                }

            }
        }

    });

</script>
</body>
</html>
