<!DOCTYPE html>
<html lang="{{ .Lang }}">
{{ partial "head.html" . }}
<body id="page-top" class="index">
{{ partial "nav-for-other-page.html" . }}
{{ "<!-- terms and conditions Grid Section -->" | safeHTML }}
<section id="{{ .Params.url }}" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">{{ .Title }}</h2>
            </div>
        </div>

        <div class="row alert alert-info">
            <p class="order-page-content">
                {{ .Content }}
            </p>
        </div>
        <div class="row">
            <div class="form-group">
                <label class="col-md-2 control-label" for="orderId">Mã đơn hàng</label>
                <div class="col-md-8">
                    <input id="orderId" name="orderId" type="text"
                           placeholder="123xyz" class="form-control input-lg">
                </div>
                <div class="col-md-2">
                    <button id="openOrderBtn" name="openOrderBtn"
                            class="btn btn-lg btn-success"
                            data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Vui lòng đợi...">Nhập
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>
{{ if .Site.Params.params.footer.enable }}
{{ partial "footer.html" . }}
{{ end }}
{{ partial "js_other_page.html" . }}
<script>
    $(function() {
        function findOrder(orderId) {
            var order = findOrderInLocalStorage(orderId);
            if (!order) {
                order = findOrderInCloud(orderId);
            }
            if((typeof order) === "string"){
                order = JSON.parse(order);
            }
            return order;
        }

        $("#openOrderBtn").on('click', function (e) {
            e.preventDefault();
            var orderId = $('#orderId').val();
            if(orderId) {
                var order = findOrder(orderId);
                if (allowEditOrder(order)) {
                    order = convertProductArraysToProductObject(order);
                    saveOrderToSessionStorage(order);
                    window.location = "/confirm";
                }
            }else{
                alert("Vui lòng nhập mã đơn hàng.");
            }
        })
    });

    function findOrderInLocalStorage(orderId) {
        var order = localStorage.getItem("order-" + orderId);
        return order;
    }

    function findOrderInCloud(orderId) {

    }
    
    function convertProductArraysToProductObject(order) {
        var productsArr = order.products;
        var productsObj = {};
        productsArr.forEach(function (p) {
            var sku = p.name;
            if(sku.substr(sku.length - 3, sku.length) === 'Amt'){
                sku = sku.substr(0, sku.length - 3);
            }
            productsObj[sku + 'Amt'] = p.amount;
            productsObj[sku + 'Price'] = p.price;
        });
        order.products = productsObj;
        return order;
    }

    function saveOrderToSessionStorage(order){
        sessionStorage.setItem("order", JSON.stringify(order));
    }

    function allowEditOrder(order){
        return true;
    }
</script>

</body>
</html>