<!DOCTYPE html>
<html lang="{{ .Lang }}">
{{ partial "head.html" . }}

<body id="page-top" class="index">
{{ partial "nav-for-other-page.html" . }}
{{ "<!-- terms and conditions Grid Section -->" | safeHTML }}
<section id="{{ .Params.url }}" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">{{ .Title }}</h2>
            </div>
        </div>
        {{ .Content }}
        <div class="row">
            <div class="col-md-12">

                <form class="form-horizontal" name="bill" id="bill">
                    <fieldset>

                        <!-- Form Name -->
                        <legend>Đơn hàng</legend>

                        <!-- Multiple Radios (inline) -->
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="prefix"></label>
                            <div class="col-md-4">
                                <label class="radio-inline" for="prefix-0">
                                    <input type="radio" name="prefix" id="prefix-0" value="Female" checked="checked">
                                    Chị
                                </label>
                                <label class="radio-inline" for="prefix-1">
                                    <input type="radio" name="prefix" id="prefix-1" value="Male">
                                    Anh
                                </label>
                            </div>
                        </div>

                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="name">Tên</label>
                            <div class="col-md-4">
                                <input id="name" name="name" type="text" placeholder="Tên" class="form-control input-md" required="" value="Hà">

                            </div>
                        </div>

                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="phone1">Số điện thoại 1</label>
                            <div class="col-md-4">
                                <input id="phone1" name="phone" type="text" placeholder="0901234567" class="form-control input-md" required="" value="09111">

                            </div>
                        </div>

                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="phone2">Số điện thoại 2</label>
                            <div class="col-md-4">
                                <input id="phone2" name="phone2" type="text" placeholder="0123456789" class="form-control input-md">

                            </div>
                        </div>

                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="address">Địa chỉ</label>
                            <div class="col-md-4">
                                <input id="address" name="address" type="text" placeholder="Tên số nhà, đường, phường, xã, quận/huyện" class="form-control input-md" required="" value="326/1 tân phước">

                            </div>
                        </div>

                        <!-- Select Basic -->
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="province">Tỉnh/Thành phố</label>
                            <div class="col-md-4">
                                <select id="province" name="province" class="form-control">
                                    <option value="TP HCM">TP HCM</option>
                                    <option value="An Giang">An Giang</option>
                                    <option value="Bà Rịa - Vũng Tàu">Bà Rịa - Vũng Tàu</option>
                                    <option value="Bắc Giang">Bắc Giang</option>
                                    <option value="Bắc Kạn">Bắc Kạn</option>
                                    <option value="Bạc Liêu">Bạc Liêu</option>
                                    <option value="Bắc Ninh">Bắc Ninh</option>
                                    <option value="Bến Tre">Bến Tre</option>
                                    <option value="Bình Định">Bình Định</option>
                                    <option value="Bình Dương">Bình Dương</option>
                                    <option value="Bình Phước">Bình Phước</option>
                                    <option value="Bình Thuận">Bình Thuận</option>
                                    <option value="Cà Mau">Cà Mau</option>
                                    <option value="Cao Bằng">Cao Bằng</option>
                                    <option value="Đắk Lắk">Đắk Lắk</option>
                                    <option value="Đắk Nông">Đắk Nông</option>
                                    <option value="Điện Biên">Điện Biên</option>
                                    <option value="Đồng Nai">Đồng Nai</option>
                                    <option value="Đồng Tháp">Đồng Tháp</option>
                                    <option value="Gia Lai">Gia Lai</option>
                                    <option value="Hà Giang">Hà Giang</option>
                                    <option value="Hà Nam">Hà Nam</option>
                                    <option value="Hà Tĩnh">Hà Tĩnh</option>
                                    <option value="Hải Dương">Hải Dương</option>
                                    <option value="Hậu Giang">Hậu Giang</option>
                                    <option value="Hòa Bình">Hòa Bình</option>
                                    <option value="Hưng Yên">Hưng Yên</option>
                                    <option value="Khánh Hòa">Khánh Hòa</option>
                                    <option value="Kiên Giang">Kiên Giang</option>
                                    <option value="Kon Tum">Kon Tum</option>
                                    <option value="Lai Châu">Lai Châu</option>
                                    <option value="Lâm Đồng">Lâm Đồng</option>
                                    <option value="Lạng Sơn">Lạng Sơn</option>
                                    <option value="Lào Cai">Lào Cai</option>
                                    <option value="Long An">Long An</option>
                                    <option value="Nam Định">Nam Định</option>
                                    <option value="Nghệ An">Nghệ An</option>
                                    <option value="Ninh Bình">Ninh Bình</option>
                                    <option value="Ninh Thuận">Ninh Thuận</option>
                                    <option value="Phú Thọ">Phú Thọ</option>
                                    <option value="Quảng Bình">Quảng Bình</option>
                                    <option value="Quảng Nam">Quảng Nam</option>
                                    <option value="Quảng Ngãi">Quảng Ngãi</option>
                                    <option value="Quảng Ninh">Quảng Ninh</option>
                                    <option value="Quảng Trị">Quảng Trị</option>
                                    <option value="Sóc Trăng">Sóc Trăng</option>
                                    <option value="Sơn La">Sơn La</option>
                                    <option value="Tây Ninh">Tây Ninh</option>
                                    <option value="Thái Bình">Thái Bình</option>
                                    <option value="Thái Nguyên">Thái Nguyên</option>
                                    <option value="Thanh Hóa">Thanh Hóa</option>
                                    <option value="Thừa Thiên Huế">Thừa Thiên Huế</option>
                                    <option value="Tiền Giang">Tiền Giang</option>
                                    <option value="Trà Vinh">Trà Vinh</option>
                                    <option value="Tuyên Quang">Tuyên Quang</option>
                                    <option value="Vĩnh Long">Vĩnh Long</option>
                                    <option value="Vĩnh Phúc">Vĩnh Phúc</option>
                                    <option value="Yên Bái">Yên Bái</option>
                                    <option value="Phú Yên">Phú Yên</option>
                                    <option value="Cần Thơ">Cần Thơ</option>
                                    <option value="Đà Nẵng">Đà Nẵng</option>
                                    <option value="Hải Phòng">Hải Phòng</option>
                                    <option value="Hà Nội">Hà Nội</option>
                                </select>
                            </div>
                        </div>

                        {{ $data := index .Site.Data .Site.Language.Lang }}
                        {{ $prices := $data.price }}
                        {{ range where .Site.Pages "Section" "product" }}
                            {{ if isset .Params "key" }}
                            {{ .Title }}
                            {{ $dscnt_price := printf "%s_discounted_price" .Params.key }}
                            {{ $discounted_price := index $prices $dscnt_price }}
                            {{ if gt $discounted_price 0 }}{{ $discounted_price }}{{ else }}{{ index $prices .Params.key }}{{ end }}
                            {{ end }}
                            <br>
                        {{ end }}

                        <!-- Multiple Checkboxes -->
                        <!--<div class="form-group">-->
                            <!--<label class="col-md-4 control-label" for="products">Sản phẩm</label>-->
                            <!--<div class="col-md-4">-->
                                <!--<div class="checkbox col-md-8">-->
                                    <!--<label for="products-0">-->
                                        <!--<input type="checkbox" name="products" id="products-0" value="Bột cà rốt 50g">-->
                                        <!--Bột cà rốt 50g-->
                                    <!--</label>-->
                                <!--</div>-->
                                <!--&lt;!&ndash; Select Basic &ndash;&gt;-->
                                <!--<div class="form-group">-->
                                    <!--<div class="col-md-4">-->
                                        <!--<select style="display: none;" id="carrot" name="carrot" class="form-control product-select">-->
                                            <!--<option value="0">0</option><option value="1">1</option>-->
                                            <!--<option value="2">2</option>-->
                                            <!--<option value="3">3</option>-->
                                            <!--<option value="4">4</option>-->
                                            <!--<option value="5">5</option>-->
                                            <!--<option value="6">6</option>-->
                                        <!--</select>-->
                                    <!--</div>-->
                                <!--</div>-->
                                <!--<div class="checkbox col-md-8">-->
                                    <!--<label for="products-1">-->
                                        <!--<input type="checkbox" name="products" id="products-1" value="Bột rau diếp cá 50g">-->
                                        <!--Bột rau diếp cá 50g-->
                                    <!--</label>-->
                                <!--</div>-->
                                <!--&lt;!&ndash; Select Basic &ndash;&gt;-->
                                <!--<div class="form-group">-->
                                    <!--<div class="col-md-4">-->
                                        <!--<select style="display: none;" id="heartleaf" name="heartleaf" class="form-control product-select">-->
                                            <!--<option value="0">0</option><option value="1">1</option>-->
                                            <!--<option value="2">2</option>-->
                                            <!--<option value="3">3</option>-->
                                            <!--<option value="4">4</option>-->
                                            <!--<option value="5">5</option>-->
                                            <!--<option value="6">6</option>-->
                                        <!--</select>-->
                                    <!--</div>-->
                                <!--</div>-->
                                <!--<div class="checkbox col-md-8">-->
                                    <!--<label for="products-2">-->
                                        <!--<input type="checkbox" name="products" id="products-2" value="Bột rau má 50g">-->
                                        <!--Bột rau má 50g-->
                                    <!--</label>-->
                                <!--</div>-->
                                <!--&lt;!&ndash; Select Basic &ndash;&gt;-->
                                <!--<div class="form-group">-->
                                    <!--<div class="col-md-4">-->
                                        <!--<select style="display: none;" id="pennywort" name="pennywort" class="form-control product-select">-->
                                            <!--<option value="0">0</option><option value="1">1</option>-->
                                            <!--<option value="2">2</option>-->
                                            <!--<option value="3">3</option>-->
                                            <!--<option value="4">4</option>-->
                                            <!--<option value="5">5</option>-->
                                            <!--<option value="6">6</option>-->
                                        <!--</select>-->
                                    <!--</div>-->
                                <!--</div>-->
                                <!--<div class="checkbox col-md-8">-->
                                    <!--<label for="products-3">-->
                                        <!--<input type="checkbox" name="products" id="products-3" value="Bột trà xanh 50g">-->
                                        <!--Bột trà xanh 50g-->
                                    <!--</label>-->
                                <!--</div>-->
                                <!--&lt;!&ndash; Select Basic &ndash;&gt;-->
                                <!--<div class="form-group">-->
                                    <!--<div class="col-md-4">-->
                                        <!--<select style="display: none;" id="matcha" name="matcha" class="form-control product-select">-->
                                            <!--<option value="0">0</option><option value="1">1</option>-->
                                            <!--<option value="2">2</option>-->
                                            <!--<option value="3">3</option>-->
                                            <!--<option value="4">4</option>-->
                                            <!--<option value="5">5</option>-->
                                            <!--<option value="6">6</option>-->
                                        <!--</select>-->
                                    <!--</div>-->
                                <!--</div>-->
                                <!--<div class="checkbox col-md-8">-->
                                    <!--<label for="products-4">-->
                                        <!--<input type="checkbox" name="products" id="products-4" value="Bột cacao 50g">-->
                                        <!--Bột cacao 50g-->
                                    <!--</label>-->
                                <!--</div>-->
                                <!--&lt;!&ndash; Select Basic &ndash;&gt;-->
                                <!--<div class="form-group">-->
                                    <!--<div class="col-md-4">-->
                                        <!--<select style="display: none;" id="cocoa" name="cocoa" class="form-control product-select">-->
                                            <!--<option value="0">0</option><option value="1">1</option>-->
                                            <!--<option value="2">2</option>-->
                                            <!--<option value="3">3</option>-->
                                            <!--<option value="4">4</option>-->
                                            <!--<option value="5">5</option>-->
                                            <!--<option value="6">6</option>-->
                                        <!--</select>-->
                                    <!--</div>-->
                                <!--</div>-->
                                <!--<div class="checkbox col-md-8">-->
                                    <!--<label for="products-5">-->
                                        <!--<input type="checkbox" name="products" id="products-5" value="Bột củ dền 50g">-->
                                        <!--Bột củ dền 50g-->
                                    <!--</label>-->
                                <!--</div>-->
                                <!--&lt;!&ndash; Select Basic &ndash;&gt;-->
                                <!--<div class="form-group">-->
                                    <!--<div class="col-md-4">-->
                                        <!--<select style="display: none;" id="beetroot" name="beetroot" class="form-control product-select">-->
                                            <!--<option value="0">0</option><option value="1">1</option>-->
                                            <!--<option value="2">2</option>-->
                                            <!--<option value="3">3</option>-->
                                            <!--<option value="4">4</option>-->
                                            <!--<option value="5">5</option>-->
                                            <!--<option value="6">6</option>-->
                                        <!--</select>-->
                                    <!--</div>-->
                                <!--</div>-->
                                <!--<div class="checkbox col-md-8">-->
                                    <!--<label for="products-6">-->
                                        <!--<input type="checkbox" name="products" id="products-6" value="Bột súp lơ xanh 50g">-->
                                        <!--Bột súp lơ xanh 50g-->
                                    <!--</label>-->
                                <!--</div>-->
                                <!--&lt;!&ndash; Select Basic &ndash;&gt;-->
                                <!--<div class="form-group">-->
                                    <!--<div class="col-md-4">-->
                                        <!--<select style="display: none;" id="broccoli" name="broccoli" class="form-control product-select">-->
                                            <!--<option value="0">0</option><option value="1">1</option>-->
                                            <!--<option value="2">2</option>-->
                                            <!--<option value="3">3</option>-->
                                            <!--<option value="4">4</option>-->
                                            <!--<option value="5">5</option>-->
                                            <!--<option value="6">6</option>-->
                                        <!--</select>-->
                                    <!--</div>-->
                                <!--</div>-->
                                <!--<div class="checkbox col-md-8">-->
                                    <!--<label for="products-7">-->
                                        <!--<input type="checkbox" name="products" id="products-7" value="Bột rau củ rainbow">-->
                                        <!--Bột rau củ rainbow-->
                                    <!--</label>-->
                                <!--</div>-->
                                <!--&lt;!&ndash; Select Basic &ndash;&gt;-->
                                <!--<div class="form-group">-->
                                    <!--<div class="col-md-4">-->
                                        <!--<select style="display: none;" id="rainbow" name="rainbow" class="form-control product-select">-->
                                            <!--<option value="0">0</option><option value="1">1</option>-->
                                            <!--<option value="2">2</option>-->
                                            <!--<option value="3">3</option>-->
                                            <!--<option value="4">4</option>-->
                                            <!--<option value="5">5</option>-->
                                            <!--<option value="6">6</option>-->
                                        <!--</select>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->

                        <!-- Button (Double) -->
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="save"></label>
                            <div class="col-md-8">
                                <button id="save" name="save" class="btn btn-success">Hoàn tất</button>
                                <button id="cancel" name="cancel" class="btn btn-danger">Xóa làm lại</button>
                            </div>
                        </div>

                    </fieldset>
                </form>

            </div>
        </div>


    </div>
</section>
{{ if .Site.Params.params.footer.enable }}
{{ partial "footer.html" . }}
{{ end }}
{{ partial "js_other_page.html" . }}
<script>
    $(function() {

        function initUIState() {
//            $('#bill').hide();
//            $('.alert-success').hide();
            $('.product-select').hide();
        }

        initUIState();
        function showAutoCloseAlert() {
            $(".alert-success").fadeTo(2000, 500).slideUp(500, function(){
                $(".alert-success").slideUp(500);
            });
        }

        function clearForm() {
            $('#bill')[0].reset();
            $('.product-select').hide();
        }

        $('#cancel').on('click', function(e){
            e.preventDefault();
            clearForm();
        });

        $('#save').on('click', function (e) {
            e.preventDefault();
            var bill = {meta: {}};
//            bill.meta.username = user.email;
//            bill.meta.userDisplayName = user.displayName;
            bill.meta.date = new Date().getTime();
            bill = fillInData(bill);
            saveToSession(bill);
//            showAutoCloseAlert();
            clearForm();
            window.location = "/confirm";
        });

        function fillInData(bill) {
            var $form = $("#bill");
            var data = getFormData($form);
            bill.data = data;
            return bill;
        }

        function getFormData($form){
            var unindexed_array = $form.serializeArray();
            var indexed_array = {};

            $.map(unindexed_array, function(n, i){
                indexed_array[n['name']] = n['value'];
            });

            return indexed_array;
        }

        function saveToSession(bill) {
            sessionStorage.setItem("order", JSON.stringify(bill));
        }

        $('.checkbox').on('click', function(e){
            if($(this).find(':checkbox').is(":checked")) {
                $(this).next('.form-group').find('select').show();
                $(this).next('.form-group').find('select').val(1);
            } else {
                $(this).next('.form-group').find('select').val(0);
                $(this).next('.form-group').find('select').hide();
            }
        });

        function humanize(input) {
            var output = "Tổng đơn hàng của " + translate(input[0].value) + " " + input[1].value;
            for(var i = 2; i < input.length; i++){
                if(input[i].value && input[i].value != 0) {
                    var key = (translate(input[i].name) === "" || translate(input[i].name) === "\n"?translate(input[i].name): (translate(input[i].name) + ":"));
                    output += ( key + " " + translate(input[i].value));
                }
            };
//        output += "\nXin cám ơn " + translate(input[0].value) + " " + input[1].value + " đã ủng hộ DalaFarm ạ."
            return output;
        }

        function translate(keyword) {
            if(keyword) {
                switch (keyword){
                    case "Male": return "anh";
                    case "Female": return "chị";
                    case "phone": return "\nĐiện thoại";
                    case "phone2": return "\nĐiện thoại 2";
                    case "address": return "\nĐịa chỉ";
                    case "province": return "\nTỉnh thành";
                    case "products": return "\n";
                    case "carrot": return "";
                    case "heartleaf": return "";
                    case "pennywort": return "";
                    case "matcha": return "";
                    case "cocoa": return "";
                    case "beetroot": return "";
                    case "broccoli": return "";
                    case "rainbow": return "";
                    case "1": return ": 1 gói"
                    case "2": return ": 2 gói"
                    case "3": return ": 3 gói"
                    case "4": return ": 4 gói"
                    case "5": return ": 5 gói"
                    case "6": return ": 6 gói"
                    default: return keyword;
                }


            }
        }
    });
</script>

</body>
</html>