<!DOCTYPE html>
<html lang="{{ .Site.Params.locale }}">
{{ partial "head.html" . }}

<body id="page-top" class="index">
{{ partial "nav-for-other-page.html" . }}
{{ "<!-- product Grid Section -->" | safeHTML }}
<section id="{{ .Params.url }}" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">{{ .Title }}</h2>
                {{if isset .Params "description" }}
                <h3 class="section-subheading text-muted">{{ .Description }}</h3>
                {{ end }}
            </div>
        </div>
        {{ .Content }}

            {{ range .Data.Pages.GroupByParam "product_line" }}
        <div class="row">
            <h3>{{ .Key }}</h3>
                {{ range first 3 .Pages }}
                    {{ .Render "summary" }}
                {{ end }}
        </div>
        {{ end }}
    </div>
</section>
{{ if .Site.Params.params.footer.enable }}
{{ partial "footer.html" . }}
{{ end }}
</body>
</html>