<!DOCTYPE html>
<html lang="{{ .Lang }}">
{{ partial "head.html" . }}

<body id="page-top" class="index">
{{ partial "nav-for-other-page.html" . }}
{{ "<!-- terms and conditions Grid Section -->" | safeHTML }}
<section id="{{ .Params.url }}" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">{{ .Title }}</h2>
            </div>
        </div>
        <div class="row alert alert-info">
            <p class="order-page-content">
                {{ .Content }}
            </p>
        </div>
        {{ partial "order-id.html" . }}
        <div class="row">
            <div class="col-md-12">
                {{ partial "selected-product-list.html" . }}
                <div class="panel panel-default">
                    <div class="panel-heading">Đơn hàng</div>
                    <div class="panel-body">
                        <form class="form-horizontal" name="bill" id="bill">
                            <fieldset>

                                <!-- Form Name -->
                                <legend>Khuyến mại</legend>

                                <!-- Text input-->
                                <div class="form-group">
                                    <label class="col-md-2 control-label" for="name">Mã giảm giá (nếu có)</label>
                                    <div class="col-md-8">
                                        <input data-bind="value: promoCode" id="promoCode" name="promoCode" type="text"
                                               placeholder="Mã giảm giá" class="form-control input-lg" required="">
                                    </div>
                                    <div class="col-md-2">
                                        <button id="verifyPromoCode" name="verifyPromoCode"
                                                class="btn btn-lg btn-success"
                                                data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Vui lòng đợi...">Nhập
                                        </button>
                                    </div>
                                </div>

                                <!-- Form Name -->
                                <legend>Thông tin giao hàng</legend>

                                <!-- Text input-->
                                <div class="form-group">
                                    <label class="col-md-2 control-label" for="name">Tên *</label>
                                    <div class="col-md-8">
                                        <input data-bind="value: info.name" id="name" name="name" type="text"
                                               placeholder="Tên" class="form-control input-lg" required="required" data-validation-error-msg="Vui lòng nhập thông tin">
                                    </div>
                                </div>

                                <!-- Text input-->
                                <div class="form-group">
                                    <label class="col-md-2 control-label" for="phone1">Số điện thoại 1 * <br/>(bỏ số 0 ở đầu)</label>
                                    <div class="col-md-8">
                                        <div class="input-group">
                                            <span class="input-group-addon" data-bind="text: info.phone1CountryCode"></span>
                                            <input data-bind="value: info.phone1" id="phone1" name="phone1" type="number"
                                                   placeholder="901234567" class="form-control input-lg" required="required" data-validation="number" data-validation-error-msg="Vui lòng nhập thông tin">
                                        </div>
                                        <input data-bind="value: info.verificationCode" style="display: none;"
                                               id="verificationCode" name="verificationCode" type="text"
                                               placeholder="Mã xác thực" class="form-control">
                                        <p id="showUserSmsSentMsg" style="display: none;">Mã xác thực đã được gửi tới
                                            điện thoại của bạn. Vui lòng kiểm tra điện thoại.</p>
                                        <button id="verifyCode" name="verifyCode" style="display: none;"
                                                class="btn btn-lg btn-success"
                                                data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Vui lòng đợi...">Xác thực mã
                                        </button>
                                        <div id="recaptcha-container" style="margin-top: 5px"></div>
                                    </div>
                                    <div class="col-md-2">
                                        <button id="verifyPhone1" style="display: none;" name="verifyPhone1"
                                                class="btn btn-lg btn-success"
                                                data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Vui lòng đợi...">Lấy mã xác thực
                                        </button>
                                    </div>
                                </div>

                                <!-- Text input-->
                                <div class="form-group">
                                    <label class="col-md-2 control-label" for="phone2">Số điện thoại 2 <br/>(bỏ số 0 ở đầu)</label>
                                    <div class="col-md-8">
                                        <div class="input-group">
                                            <span class="input-group-addon" data-bind="text: info.phone2CountryCode"></span>
                                            <input data-bind="value: info.phone2" id="phone2" name="phone2" type="number"
                                               placeholder="1689887777" class="form-control input-lg" data-validation="number" >
                                        </div>
                                    </div>
                                </div>

                                <!-- Text input-->
                                <div class="form-group">
                                    <label class="col-md-2 control-label" for="email">Email</label>
                                    <div class="col-md-8">
                                        <input data-bind="value: info.email" id="email" name="email" type="email"
                                               placeholder="example@gmail.com" class="form-control input-lg" data-validation="email" data-validation-error-msg="Email không hợp lệ" >

                                    </div>
                                </div>

                                <!-- Text input-->
                                <div class="form-group">
                                    <label class="col-md-2 control-label" for="address">Địa chỉ *</label>
                                    <div class="col-md-8">
                                        <input data-bind="value: info.address" id="address" name="address" type="text"
                                               placeholder="Số nhà, đường, phường, xã, quận/huyện"
                                               class="form-control input-lg" required="required" value="" data-validation-error-msg="Vui lòng nhập thông tin">
                                    </div>
                                </div>

                                <!-- Select Basic -->
                                <div class="form-group">
                                    <label class="col-md-2 control-label" for="province">Tỉnh/Thành phố</label>
                                    <div class="col-md-6">
                                        <select data-bind="value: info.province" id="province" name="province"
                                                class="form-control input-lg">
                                            <option value="TP HCM">TP HCM</option>
                                            <option value="Hà Nội">Hà Nội</option>
                                            <option value="Cần Thơ">Cần Thơ</option>
                                            <option value="Đà Nẵng">Đà Nẵng</option>
                                            <option value="Hải Phòng">Hải Phòng</option>
                                            <option value="An Giang">An Giang</option>
                                            <option value="Bà Rịa - Vũng Tàu">Bà Rịa - Vũng Tàu</option>
                                            <option value="Bắc Giang">Bắc Giang</option>
                                            <option value="Bắc Kạn">Bắc Kạn</option>
                                            <option value="Bạc Liêu">Bạc Liêu</option>
                                            <option value="Bắc Ninh">Bắc Ninh</option>
                                            <option value="Bến Tre">Bến Tre</option>
                                            <option value="Bình Định">Bình Định</option>
                                            <option value="Bình Dương">Bình Dương</option>
                                            <option value="Bình Phước">Bình Phước</option>
                                            <option value="Bình Thuận">Bình Thuận</option>
                                            <option value="Cà Mau">Cà Mau</option>
                                            <option value="Cao Bằng">Cao Bằng</option>
                                            <option value="Đắk Lắk">Đắk Lắk</option>
                                            <option value="Đắk Nông">Đắk Nông</option>
                                            <option value="Điện Biên">Điện Biên</option>
                                            <option value="Đồng Nai">Đồng Nai</option>
                                            <option value="Đồng Tháp">Đồng Tháp</option>
                                            <option value="Gia Lai">Gia Lai</option>
                                            <option value="Hà Giang">Hà Giang</option>
                                            <option value="Hà Nam">Hà Nam</option>
                                            <option value="Hà Tĩnh">Hà Tĩnh</option>
                                            <option value="Hải Dương">Hải Dương</option>
                                            <option value="Hậu Giang">Hậu Giang</option>
                                            <option value="Hòa Bình">Hòa Bình</option>
                                            <option value="Hưng Yên">Hưng Yên</option>
                                            <option value="Khánh Hòa">Khánh Hòa</option>
                                            <option value="Kiên Giang">Kiên Giang</option>
                                            <option value="Kon Tum">Kon Tum</option>
                                            <option value="Lai Châu">Lai Châu</option>
                                            <option value="Lâm Đồng">Lâm Đồng</option>
                                            <option value="Lạng Sơn">Lạng Sơn</option>
                                            <option value="Lào Cai">Lào Cai</option>
                                            <option value="Long An">Long An</option>
                                            <option value="Nam Định">Nam Định</option>
                                            <option value="Nghệ An">Nghệ An</option>
                                            <option value="Ninh Bình">Ninh Bình</option>
                                            <option value="Ninh Thuận">Ninh Thuận</option>
                                            <option value="Phú Thọ">Phú Thọ</option>
                                            <option value="Phú Yên">Phú Yên</option>
                                            <option value="Quảng Bình">Quảng Bình</option>
                                            <option value="Quảng Nam">Quảng Nam</option>
                                            <option value="Quảng Ngãi">Quảng Ngãi</option>
                                            <option value="Quảng Ninh">Quảng Ninh</option>
                                            <option value="Quảng Trị">Quảng Trị</option>
                                            <option value="Sóc Trăng">Sóc Trăng</option>
                                            <option value="Sơn La">Sơn La</option>
                                            <option value="Tây Ninh">Tây Ninh</option>
                                            <option value="Thái Bình">Thái Bình</option>
                                            <option value="Thái Nguyên">Thái Nguyên</option>
                                            <option value="Thanh Hóa">Thanh Hóa</option>
                                            <option value="Thừa Thiên Huế">Thừa Thiên Huế</option>
                                            <option value="Tiền Giang">Tiền Giang</option>
                                            <option value="Trà Vinh">Trà Vinh</option>
                                            <option value="Tuyên Quang">Tuyên Quang</option>
                                            <option value="Vĩnh Long">Vĩnh Long</option>
                                            <option value="Vĩnh Phúc">Vĩnh Phúc</option>
                                            <option value="Yên Bái">Yên Bái</option>
                                        </select>
                                    </div>
                                    <div class="checkbox col-md-2">
                                        <label for="checkboxes-0">
                                            <input name="checkboxes" id="checkboxes-0" type="checkbox" data-bind="checked: info.suburb">
                                            Ngoại thành
                                        </label>
                                    </div>
                                </div>
                                <!-- Multiple Radios -->
                                <div class="form-group">
                                    <label class="col-md-2 control-label" for="radios">Hình thức thanh toán *</label>
                                    <div class="col-md-8" id="radios">
                                        <div class="radio">
                                            <label for="radios-0">
                                                <input name="radios" id="radios-0" value="cod" data-bind="checked: info.paymentType" type="radio">
                                                Thanh toán lúc nhận hàng (COD)
                                            </label>
                                        </div>
                                        <div class="radio">
                                            <label for="radios-1">
                                                <input name="radios" id="radios-1" value="bank-transfer" data-bind="checked: info.paymentType" type="radio">
                                                Chuyển khoản
                                            </label>
                                            <a href="/qa/#cách-thanh-toán" target="_blank"> (Xem thông tin chuyển khoản)</a>
                                        </div>
                                    </div>
                                </div>

                                <!-- Textarea -->
                                <div class="form-group">
                                    <label class="col-md-2 control-label" for="additionalNote">Ghi chú</label>
                                    <div class="col-md-8">
                                        <textarea data-bind="value: info.additionalNote" class="form-control"
                                                  id="additionalNote" name="textarea" placeholder="Ghi chú thêm nếu có, ví dụ: vui lòng giao sau thứ 3"></textarea>
                                    </div>
                                </div>

                            </fieldset>
                        </form>
                    </div>
                </div>

            </div>
        </div>
        <div class="row">
            <!-- Button (Double) -->
            <div class="form-group">
                <div class="col-xs-4">
                    <button id="edit" name="save" class="btn btn-lg btn-default">Sửa đơn hàng</button>
                </div>
                <div class="col-xs-4 text-center">
                    <button id="cancel" name="cancel" class="btn btn-lg btn-danger">Xóa thông tin</button>
                </div>
                <div class="col-xs-4 text-right">
                    <button type="submit" id="save" name="save" class="btn btn-lg btn-success">Tiếp tục</button>
                </div>
            </div>
        </div>

    </div>
</section>
{{ if .Site.Params.params.footer.enable }}
{{ partial "footer.html" . }}
{{ end }}
{{ partial "js_order_page.html" . }}
<script>
    var VNPhoneCountryCode = "+84";

    $(function() {

        // Initialize Firebase
        var config = {
            apiKey: "AIzaSyABGxfllsBj-8tfsAH7t1qqcZvxZHRP25M",
            authDomain: "dalafarm-bill.firebaseapp.com",
            databaseURL: "https://dalafarm-bill.firebaseio.com",
            projectId: "dalafarm-bill",
            storageBucket: "dalafarm-bill.appspot.com",
            messagingSenderId: "723108104918"
        };
        firebase.initializeApp(config);
        firebase.auth().onAuthStateChanged(function(user) {
            if (user) {
                console.log("User already logged in");
                initUIStateForLoginBasedOnUserState(user);
            } else {
                console.log("User has not logged in");
                initUIStateForLoginBasedOnUserState(user);
            }
        });

        var emptyBill = {
            meta: {
                date: undefined
            },
            data: {
                info: {
                    prefix: "",
                    name: "",
                    phone1: "",
                    phone2: "",
                    email: "",
                    address: "",
                    province: ""
                },
                products: []
            }
        };
        var bill = JSON.parse(sessionStorage.getItem('order')) || emptyBill;

        var viewModel = {
            id: ko.observable((bill && bill.id) || ""),
            info:{
                name: ko.observable((bill && bill.info && bill.info.name) || ""),
                phone1CountryCode: ko.observable((bill && bill.info && bill.info.phone1CountryCode) || VNPhoneCountryCode),
                phone1: ko.observable((bill && bill.info && bill.info.phone1.substring(3)) || ""),
                verificationCode: ko.observable(""),
                phone2CountryCode: ko.observable((bill && bill.info && bill.info.phone2CountryCode) || VNPhoneCountryCode),
                phone2: ko.observable((bill && bill.info && bill.info.phone2) || ""),
                email: ko.observable((bill && bill.info && bill.info.email) || ""),
                address: ko.observable((bill && bill.info && bill.info.address) || ""),
                province: ko.observable((bill && bill.info && bill.info.province) || "TP HCM"),
                suburb: ko.observable((bill && bill.info && bill.info.suburb) || ""),
                paymentType: ko.observable((bill && bill.info && bill.info.paymentType) || "cod"),
                additionalNote: ko.observable((bill && bill.info && bill.info.additionalNote) || "")
            },
            products: getProductsArrayFromBill(bill),
            subtotal: ko.observable(calculateTotalBillWithoutShippingCost(bill)),
            shippingCost: undefined,
            promoCode: ko.observable((bill && bill.promoCode) || ""),
            discountPercent: ko.observable((bill && bill.discountPercent) || undefined)
        };

        // Activates knockout.js
        ko.applyBindings(viewModel);
        var verificationCodeSent = false;

        function initUIStateForLoginBasedOnUserState(user) {
            if(user) {
                $('#verifyPhone1').hide();
                $('#verifyCode').hide();
                $('#verificationCode').hide();
                $('#showUserSmsSentMsg').hide();
                $('#recaptcha-container').hide();
                $('#save').prop('disabled', false);
            } else {
                $('#verifyPhone1').show();
                $('#save').prop('disabled', true);
                if(verificationCodeSent) {
                    $('#verifyCode').show();
                    $('#verificationCode').show();
                }
            }
        }

        function toggleFieldsWhenSendingSmsVerificationCode(){
            $('#verifyPhone1').toggle();
            $('#verifyCode').toggle();
            $('#verificationCode').toggle();
            $('#showUserSmsSentMsg').toggle();
        }

        function clearForm() {
            $('#bill')[0].reset();
        }
        window.recaptchaVerifier = new firebase.auth.RecaptchaVerifier('recaptcha-container', {
            'size': 'normal',
            'callback': function(response) {
            },
            'expired-callback': function() {
            }
        });

        function getPhoneNumber() {
            var trimmedNumber = viewModel.info.phone1();
            return VNPhoneCountryCode + trimmedNumber;
        }
        $('#verifyPhone1').on('click', function(e){
            e.preventDefault();
            $('#verifyPhone1').button('loading');
            var phoneNumber = getPhoneNumber();
            console.log("phone number is " + phoneNumber);
            var appVerifier = window.recaptchaVerifier;
            firebase.auth().signInWithPhoneNumber(phoneNumber, appVerifier)
                .then(function (confirmationResult) {
                    // SMS sent. Prompt user to type the code from the message, then sign the
                    // user in with confirmationResult.confirm(code).
                    verificationCodeSent = true;
                    toggleFieldsWhenSendingSmsVerificationCode();
                    window.confirmationResult = confirmationResult;
                }).catch(function (error) {
                alert("Somethine wrong! SMS not sent!" + error);
                console.log("Somethine wrong! SMS not sent! " + error);
                // re-render captcha
                window.recaptchaVerifier.render().then(function(widgetId) {
                    grecaptcha.reset(widgetId);
                });
            });
        });
        $('#verifyCode').on('click', function (e) {
            e && e.preventDefault();
            $('#verifyCode').button('loading');
            var code = viewModel.info.verificationCode();
            window.confirmationResult.confirm(code).then(function (result) {
                // User signed in successfully.
                console.log("User logged in!");
                alert("Số điện thoại xác thực thành công!");
                initUIStateForLoginBasedOnUserState(result.user);
            }).catch(function (error) {
                alert("Something wrong! Verification code incorrect!" + error);
                console.log("Something wrong! Verification code incorrect! " + error);
            });
        });

        $('#edit').on('click', function (e) {
            e.preventDefault();
            window.location = "/order";
        });

        $('#cancel').on('click', function(e){
            e.preventDefault();
            clearForm();
        });

        $('#save').on('click', function (e) {
            e.preventDefault();
            var billFormUI = ko.toJS(viewModel);
            bill.meta = {};
            bill.meta.date = new Date().getTime();
            bill.info = billFormUI.info;
            bill.info.phone1 = getPhoneNumber();
            bill.promoCode = billFormUI.promoCode;
            bill.discountPercent = billFormUI.discountPercent;
            saveToSession(bill);
            window.location = "/confirm";
        });

        function saveToSession(bill) {
            sessionStorage.setItem("order", JSON.stringify(bill));
        }

        function verifyPromoCode(promoCode) {
            /*if (promoCode === 'DLF1T5OFF') {
                return 5;
            } else if (promoCode === 'DLF1T10OFF') {
                return 10;
            } else if (promoCode === 'DLF1T15OFF') {
                return 15;
            } else if (promoCode === 'DLF1T20OFF') {
                return 20;
            }*/
            return 0;
        }

        function applyDiscountOnTotal(subtotal, discountPercent) {
            return subtotal * (1 - (discountPercent / 100));
        }

        $('#verifyPromoCode').on('click', function (e) {
            e.preventDefault();
            var promoCode = viewModel.promoCode();
            var subtotal = viewModel.subtotal();
            var discountPercent = verifyPromoCode(promoCode);
            viewModel.subtotal(applyDiscountOnTotal(subtotal, discountPercent));
            viewModel.discountPercent(discountPercent);
        });
        // Form validation
        $.validate({
            modules : 'html5, toggleDisabled'
        });

    });
</script>

</body>
</html>