language: nodejs
node_js:
  - "7"
sudo: required
before_install:
  - chmod +x s3_preview_push.sh
install:
  - sudo pip install Pygments
  - wget -O /tmp/hugo.deb https://github.com/gohugoio/hugo/releases/download/v0.20.1/hugo_0.20.1-64bit.deb
  - sudo dpkg -i /tmp/hugo.deb
  - npm install gulp gulp-concat gulp-less gulp-minify-css gulp-rename gulp-uglify gulp-watch gulp-gzip gulp-htmlmin
script:
  - hugo version
  - gulp
  - hugo
  - gulp minify-html
  - ls public
before_deploy: pip install --user s3cmd
deploy:
  provider: script
  skip_cleanup: true
  script: ./s3_preview_push.sh
  on:
    branch: preview