<div class="col-sm-3 text-center box-item">
    <a href="{{ .Permalink }}" class="blog-link">
        {{ $image_path := split .Params.thumbnail "/" }}
        {{ $image_path_root_folder := index $image_path 1 }}
        {{ if eq $image_path_root_folder "img" }}
        {{ $url := printf "%s" .Params.thumbnail }}
        <img src="{{ $url | absURL }}" class="img-responsive center-block" alt="{{ .Title }}">
        {{ else }}
        {{ $url := printf "img/blog/%s" .Params.thumbnail }}
        <img src="{{ $url | absURL }}" class="img-responsive center-block" alt="{{ .Title }}">
        {{ end }}
    </a>
    <time class="blog-time">
        {{ $data := index .Site.Data .Site.Language.Lang }}
        {{ .Date.Day }} {{ index $data.month (printf "%d" .Date.Month) }}, {{ .Date.Year }}
    </time>
    <a href="{{ .Permalink }}" class="blog-link">
        <div class="blog-title">
            {{ .Title }}
        </div>
    </a>
</div>