<div class="panel panel-default">
    <div class="panel-heading">Sản phẩm
    </div>

    <div class="panel-body" id="order-content">
        <p data-bind="foreach: products">
            {{ $data := index .Site.Data .Site.Language.Lang }}
            {{ $prices := $data.price }}
            {{ range where .Site.Pages "Section" "product" }}
            {{ if isset .Params "key" }}
            <span data-bind="if: amount > 0 && name == '{{ .Params.key }}'">
            <span>
                                    {{ .Title }} -
                                    {{ $dscnt_price := printf "%s_discounted_price" .Params.key }}
                                    {{ $discounted_price := index $prices $dscnt_price }}
                                    {{ if gt $discounted_price 0 }}{{ $discounted_price }}{{ else }}{{ index $prices .Params.key }}{{ end }}
                                    </span>
            <span> x </span>
            <span data-bind="text: amount"></span>
            <span> = </span>
            <span data-bind="text: numeral(subtotal).format('0,0')"></span>
            <br/>
            </span>
            {{ end }}
            {{ end }}

        </p>
        <p>
            <span data-bind="if: shippingCost != undefined && !shippingCost.isNaN">
                <span>Phí giao hàng: </span><span data-bind="text: numeral(shippingCost).format('0,0')"></span>
            </span>
        </p>
        <p>
            <span data-bind="if: discountPercent">
                <span>Giảm giá: </span>-<span data-bind="text: discountPercent"></span>%
            </span>
            <p>
                <span>Tổng bill: </span><span data-bind="text: numeral(subtotal()).format('0,0')"></span>
            </p>
        </p>
    </div>
</div>