<div class="panel panel-default">
    <div class="panel-heading">Sản phẩm</div>
    <div class="panel-body">
        <p data-bind="foreach: products">
            {{ $data := index .Site.Data .Site.Language.Lang }}
            {{ $prices := $data.price }}
            {{ range where .Site.Pages "Section" "product" }}
            {{ if isset .Params "key" }}
            <span data-bind="if: amount > 0 && name == '{{ printf "%sAmt" .Params.key}}'">
            <span>
                                    {{ .Title }} -
                                    {{ $dscnt_price := printf "%s_discounted_price" .Params.key }}
                                    {{ $discounted_price := index $prices $dscnt_price }}
                                    {{ if gt $discounted_price 0 }}{{ $discounted_price }}{{ else }}{{ index $prices .Params.key }}{{ end }}
                                    </span>
            <span> x </span>
            <span data-bind="text: amount"></span>
            <span> = </span>
            <span data-bind="text: subtotal"></span>
            <br/>
            </span>
            {{ end }}
            {{ end }}

        </p>
        <p>
            <span data-bind="if: shippingCost && shippingCost >= 0">
                <span>Phí giao hàng: </span><span data-bind="text: shippingCost"></span>
            </span>
        </p>
        <p>
            <span>Tổng bill: </span><span data-bind="text: subtotal"></span>
        </p>
    </div>
</div>