<!DOCTYPE html>
<html lang="{{ .Site.Params.locale }}">
{{ partial "head.html" . }}

<body id="page-top" class="index">
{{ partial "nav-for-other-page.html" . }}
<section id="{{ .Section }}">
    <div class="container blog-section">
        <div class="row">
            <div class="col-md-12">
                <a href="/{{ .Section }}" class="product-link">
                    {{ .Section | humanize }}
                </a>
                > {{ .Title }}
            </div>
        </div>
        <section id="content" style="padding-top: 2em;">
            <div class="row">
                <div class="col-md-12 text-center">
                    <time class="blog-time">
                        {{ dateFormat "Monday, Jan 2, 2006" .Date }}
                    </time>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center blog-title-article">
                    <h3>
                        {{ .Title }}
                    </h3>
                    <span> {{ .ReadingTime }} {{ i18n "minuteRead" }}</span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-10">
                    <article class="blog-article">
                        {{ .Content | markdownify | emojify}}
                    </article>
                </div>
                <div class="col-md-1"></div>
            </div>
            <br>
            <div class="rơw">
                <div class="col-md-12 text-center">
                    TAGGED:
                    {{ range .Params.tags }}
                    <span>{{ . | upper }}</span>
                    {{ end }}
                </div>
            </div>
        </section>


    </div>
</section>

{{ if .Site.Params.params.footer.enable }}
{{ partial "footer.html" . }}
{{ end }}
{{ partial "js_other_page.html" . }}
</body>
</html>