<!DOCTYPE html>
<html lang="{{ .Lang }}">
{{ partial "head.html" . }}

<body id="page-top" class="index">
{{ partial "nav-for-other-page.html" . }}
<section id="{{ .Section }}">
    <div class="container blog-section">
        <div class="row">
            <div class="col-md-12">
                <a href="/{{ .Section }}" class="product-link">
                    {{ .Section | humanize }}
                </a>
                > {{ .Title }}
            </div>
        </div>
        <section id="content" style="padding-top: 2em;">
            <div class="row">
                <div class="col-md-12 text-center">
                    <time class="blog-time">
                        {{ dateFormat "Monday, Jan 2, 2006" .Date }}
                    </time>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center blog-title-article">
                    <h3>
                        {{ .Title | markdownify}}
                    </h3>
                    <span> {{ .ReadingTime }} {{ i18n "minuteRead" }}</span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-10">
                    <article class="blog-article">
                        {{ .Content | markdownify | emojify}}
                        <p>{{ with .Site.Params.params.contentFooter }}{{ . | markdownify }}{{ end }}</p>
                    </article>
                </div>
                <div class="col-md-1"></div>
            </div>
            <br>
            <div class="rơw">
                <div class="col-md-12 text-center">
                    TAGGED:
                    {{ range .Params.tags }}
                    <span>{{ . | upper }}</span>
                    {{ end }}
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-10">

                    {{ range first 1 (where (where .Site.Pages ".Params.tags" "intersect" .Params.tags) "Permalink" "!=" .Permalink) }}
                    {{ $.Scratch.Set "has_related" true }}
                    {{ end }}

                    {{ if $.Scratch.Get "has_related" }}
                        {{ i18n "relatedPosts" | upper }}:
                        <ul>
                            {{ $num_to_show := .Site.Params.params.related_blog_limit | default 5 }}
                            {{ range first $num_to_show (where (where .Site.Pages ".Params.tags" "intersect" .Params.tags) "Permalink" "!=" .Permalink) }}
                            <li><a href="{{ .RelPermalink }}">{{ .Title }} &middot; {{ .ReadingTime }} {{ i18n "minuteRead" }}</a></li>
                            {{ end }}
                        </ul>
                    {{ end }}
                </div>
                <div class="col-md-1"></div>
            </div>
        </section>
        {{ partial "disqus.html" . }}


    </div>
</section>

{{ if .Site.Params.params.footer.enable }}
{{ partial "footer.html" . }}
{{ end }}
{{ partial "js_other_page.html" . }}
</body>
</html>