<div class="col-xs-4 box-item">
    <a href="{{ .Permalink }}" class="product-link">
        {{ $url := printf "img/product/%s" .Params.thumbnail }}
        <img src="{{ $url | absURL }}" class="img-responsive" alt="{{ .Title }}">
    </a>
    <div class="product-caption text-price">
        <h4>{{ .Title | markdownify }}</h4>
        <p class="text-current-price">
            {{ echoParam .Params "discounted_price" }}
            {{ if isset .Params "discounted_price" }}
                {{ i18n "currency" }}
            {{ end }}
            {{ if isset .Params "discounted_percent" }}
            <span class="text-discount-percent">
                {{ echoParam .Params "discounted_percent" }}
            </span>
            {{ end }}
        </p>
        <p>
            {{ if isset .Params "discounted_price" }}
            <span class="text-original-price">{{ .Params.price }} {{ i18n "currency" }}</span>
            {{else}}
            <span class="text-current-price">{{ .Params.price }} {{ i18n "currency" }}</span>
            {{end}}
        </p>
    </div>
</div>